resources/authorspace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.example.net/test"
  xmlns:t="http://www.example.net/test"> 

<xs:complexType name="authorType"> 
  <xs:annotation>
    <xs:documentation>Author of the card</xs:documentation>
  </xs:annotation>   
  <xs:sequence>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="surname" type="xs:string"/>
  </xs:sequence>
</xs:complexType>
  
</xs:schema>